.form-container {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    grid-gap: 30px;
    margin-bottom: 20px;
}


.delete-btn {
    background-color: red;
    color: white;
    height: 30px;
    border-radius: 3px;
    border-color: white;
}

